<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * Custom template to render shipping methods.
 */
?>

<div id="resursbank-checkout-shipping-information">
    <div class="resursbank-checkout-step-title">
        <?php echo $this->__('Shipping and handling') ?>
    </div>
    <div id="resursbank-checkout-shipping-methods-list">
        <?php if (Mage::helper('resursbank_checkout')->shippingMethodsAvailable()): ?>
            <?php echo $this->getChildHtml('available') ?>
        <?php else: ?>
            <?php echo Mage::getStoreConfig('resursbank_checkout/shipping/placeholder') ?>
        <?php endif; ?>
    </div>
</div>
