/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#resursbank-checkout-order-view-info {
    width: 100%;
    background-image: url(i/logo.png);
    background-position: right 20px top 20px;
    background-repeat: no-repeat;
    -webkit-background-size: 170px 60px;
    background-size: 170px 60px;
    background-color: #afe3f9;
    margin-bottom: 20px;
}

#resursbank-checkout-order-view-info .content {
    padding:20px 20px 20px 20px;
}

#resursbank-checkout-order-view-info h3 {
    padding-bottom:10px;
}

#resursbank-checkout-order-view-info .content .field-group-customer {
    margin-top:20px;
    padding-top:20px;
    border-top:1px dashed #85CAE8;
}

#resursbank-checkout-order-view-info .content .fields {
    width:450px;
}

#resursbank-checkout-order-view-info .content .fields .field {
    padding:5px;
}

#resursbank-checkout-order-view-info .content .fields .field:nth-child(odd) {
    background:#85CAE8;
}

#resursbank-checkout-order-view-info .content .fields .field .field-label {
    display: inline-block;
    font-weight: bold;
    margin-right:15px;
    width: 100px;
    vertical-align: top;
}

#resursbank-checkout-order-view-info .content .fields .field .field-value {
    display: inline-block;
    width:325px;
}

/* Config tab header */
.resursbank-config-header dt.label {
    text-indent: -999px;
    padding:15px;
    background: #d1dedf url(i/logo-small.png) no-repeat 18px 50%;
}

/*  Callbacks list header in config */
.callbacks-list-header {
    margin:20px 0px;
}

.callback-list-error {
    color: #ce0c0c;
}
