<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * Payment method form component "card".
 *
 * @var $this Resursbank_Checkout_Block_Payment_Method_Form_Component_Card
 */
?>

<?php $_code = $this->getMethodCode() ?>

<li>
    <label for="<?php echo $_code ?>_card_number" class="required">
        <em>*</em><?php echo $this->__('Card Number') ?>
    </label>
    <div class="input-box">
        <input type="text" id="<?php echo $_code ?>_card_number"
               name="payment[card_number]"
               title="<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Card Number')) ?>"
               class="input-text required-entry" />
    </div>
</li>
