<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * Payment method form component "government id".
 *
 * @var $this Resursbank_Checkout_Block_Payment_Method_Form_Component_GovernmentId
 */
?>

<?php $_code = $this->getMethodCode() ?>
<?php $ssn = (string) $this->getSsn() ?>
<?php $inputId = $_code . '_government_id' ?>

 <li>
    <label for="<?php echo $inputId ?>" class="required">
        <em>*</em><?php echo $this->__('Please enter your SSN (YYYYMMDDXXXX)') ?>
    </label>
    <div class="input-box">
        <input type="text"
               id="<?php echo $inputId ?>"
               name="payment[government_id]"
               title="<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Please enter your SSN (YYYYMMDDXXXX)')) ?>"
               class="input-text required-entry validate-RBC-simplified-ssn"
               value="<?php echo $ssn ?>" />

        <script>
            (function (ssn, id) {
                // The input's value will not update when re-rendering the
                // template, so we have to update it this way.
                var el = document.getElementById(id);

                if (el instanceof HTMLInputElement) {
                    el.value = ssn;

                    $(el).observe('change', function () {
                        Validation.validate(el);
                    });

                    Validation.validate(el);
                }
            }(
                '<?php echo $ssn ?>',
                '<?php echo $inputId ?>'
            ))
        </script>
    </div>
</li>
