<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * Payment method form component "read more".
 *
 * @var $this Resursbank_Checkout_Block_Payment_Method_Form_Component_ReadMore
 */
?>

<?php
    $_code = $this->getMethodCode();
    $modalId = 'modal-' . $_code;
    $ddId = 'dd_method_' . $_code;
    $closeBtnId = $modalId . '-close-button';
    $purchaseCostHtml = $this->getCostOfPurchaseHtml();
?>

<?php if ($purchaseCostHtml !== ''): ?>
    <li>
        <div class="remodal-bg">
            <div class="remodal resursbank-modal" data-remodal-id="<?php echo $modalId ?>">
                <button id="<?php echo $closeBtnId ?>" data-remodal-action="close" class="remodal-close"></button>
                <?php echo $purchaseCostHtml ?>
            </div>
            <a href="#<?php echo $modalId ?>">
                <?php echo $this->__('Read more') ?>
            </a>
        </div>
    </li>


    <script>
        (function ($) {
            var btn = $('#' + '<?php echo $closeBtnId ?>');

            // Initializing the modal. We append the modal to the parent of the
            // <li>'s <ul> so that when the <ul> is hidden, the dark overlay
            // (which will only be appended to the document once) will not be
            // hidden when opening the "Read more" links of other payment
            // methods.
            var instance = $('[data-remodal-id="' + '<?php echo $modalId ?>' + '"]').remodal({
                appendTo: $('#' + '<?php echo $ddId ?>')
            });

            // The modal's close button is somehow disabled and can't close
            // the modal when rendering the template. So when we open the
            // modal, we make sure to remove that attribute on the button.
            $(document).on('opening', '.remodal', function () {
                btn.prop('disabled', false);
            });
        }(jQuery));
    </script>
<?php endif; ?>
