/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.resursbank-checkout-float-left {
    float: left;
}

.resursbank-checkout-float-right {
    float: right;
}

/*.resursbank-checkout-ajax-loader {*/
/*width: 32px;*/
/*height: 32px;*/
/*background-image: url(../images/black-spin.gif);*/
/*background-size: 32px 32px;*/
/*}*/

.resursbank-checkout-clear {
    clear: both;
}

.resursbank-checkout-error-message {
    color: red;
}

.resursbank-checkout-ajax-screen-overlay-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
}

.resursbank-checkout-ajax-screen-overlay {
    background: white;
    width: 100%;
    height: 100%;
}

.resursbank-checkout-ajax-loader {
    background-image: url('../images/black-spin.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    height: 32px;
    min-width: 32px;
    width: 100%;
}

.resursbank-checkout-step-title {
    color: #636363;
    font-size: 24px;
    margin-bottom: 20px;
}


/*  Cart and Totals.
--------------------------------------------------------------------- */
.cart-totals {
    display: none;
}

#shopping-cart-table {
    width: 100%;
}

.cart-footer-actions .btn-update,
.cart-footer-actions .or {
    display: none;
}



/*  Shipping methods.
--------------------------------------------------------------------- */
#shipping-methods-block {
    width: 33%;
}







/*  Discount codes.
--------------------------------------------------------------------- */
.discount .discount-form .field-wrapper .button-wrapper button {
    display: none;
}

#coupon_code {
    width: 100% !important;
    margin-right:0;
}

#discount-code-block {
    width: 33%;
    float:right;
}

#discount-code-block .field-wrapper {
    width: 100% !important;
}

#discount-code-block label {
    display: block !important;
}

#current-coupon-code .coupon-discount-amount .price {
    color: #20b307;
}



/*  Resursbank_Checkout.
--------------------------------------------------------------------- */
#resursbank-checkout-container iframe {
    height: 1000px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid silver;
}

#resursbank-checkout-container .resursbank-messages {
    text-align: center;
}

#resursbank-checkout-container .resursbank-messages .payment-gateway-connection-error {
    font-size:20px;
    color:#aaa;
    width: 600px;
    margin: auto auto;
}





/*  Media queries.
--------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
    .resursbank-checkout-block {
        width: 100%;
        float: none;
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid silver;
    }

    #discount-code-block {
        width: 100% !important;
    }

    #shipping-methods-block {
        margin-top: 0px;
        padding-top: 0px;
        border-top: none;
    }
}
