#resursbank-checkout-ssn {
    width: 320px !important
}

#RBC-fetch-button-area {
    margin-top: 0px;
}

#RBC-ssn-fetch-button {
    background-color: #40c781;
    font-size: 15px;
    line-height: 41px;
}

@media (max-width: 450px) {
    #resursbank-checkout-ssn {
        width: 100% !important;
    }
}