#resursbank-checkout-ssn-input-field {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c1c1c1;
}

.RBC-inline-block {
    display: inline-block;
}

.RBC-radio-list {
    padding: 5px 0px 15px 0px;
}

.RBC-inline-label {
    margin-left: 5px;
}

.RBC-radio-list label {
    padding-right: 25px;
}

.RBC-flex {
    display: flex;
}

.RBC-flex-center {
    align-items: center;
}

.RBC-flex-start {
    align-items: start;
}

#RBC-fetch-button-area {
    margin-left: 10px;
    margin-top: 25px;
}

#resursbank-checkout-ajax-loader {
    background-image: url(../../../../../default/default/images/opc-ajax-loader.gif);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 10px;
}
