<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * Template for address fetch widget.
 *
 * @var $this Resursbank_Checkout_Block_Address_Fetch
 */
?>

<div id="resursbank-checkout-ssn-input-field" class="firecheckout-set">
    <?php if ($this->customerTypeSelectionEnabled()): ?>
        <div class="RBC-radio-list">
            <label class="RBC-radio-list-label">
                <input type="radio" value="<?php echo Resursbank_Checkout_Model_Api::CUSTOMER_TYPE_PRIVATE ?>" name="RBC-ssn-type" checked>
                <span class="RBC-inline-label"><?php echo $this->__('Private citizen') ?></span>
            </label>
            <label>
                <input type="radio" value="<?php echo Resursbank_Checkout_Model_Api::CUSTOMER_TYPE_COMPANY ?>" name="RBC-ssn-type">
                <span class="RBC-inline-label"><?php echo $this->__('Company') ?></span>
            </label>
        </div>
    <?php endif; ?>
    <div class="RBC-flex RBC-flex-start">
        <div class="field">
            <label for="resursbank-checkout-ssn" id="resursbank-checkout-ssn-label"><?php echo $this->__('SSN (YYYYMMDDXXXX)') ?></label>
            <div class="input-box">
                <input type="text" value="<?php echo $this->getSsn() ?>" class="input-text validate-RBC-simplified-ssn" id="resursbank-checkout-ssn">
            </div>
        </div>
        <div id="RBC-fetch-button-area" class="RBC-flex RBC-flex-center">
            <?php if ($this->getCountry() === 'SE'): ?>
                <button id="RBC-ssn-fetch-button" type="button" class="button btn-checkout">
                    <?php echo $this->__('Fetch address') ?>
                </button>
            <?php endif; ?>
            <div id="resursbank-checkout-ajax-loader"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function () {
        Translator.add(
            'Wrong SSN/Org. number.',
            '<?php echo $this->__('Wrong SSN/Org. number.')?>'
        );

        Translator.add(
            'Fetch address',
            '<?php echo $this->__('Fetch address')?>'
        );

        Translator.add(
            'SSN (YYYYMMDDXXXX)',
            '<?php echo $this->__('SSN (YYYYMMDDXXXX)')?>'
        );

        Translator.add(
            'Org. number (XXXXXXXXXX)',
            '<?php echo $this->__('Org. number (XXXXXXXXXX)')?>'
        );

        Translator.add(
            'Not you?',
            '<?php echo $this->__('Not you?')?>'
        );

        RESURSBANK.Checkout.init({
            formKey: '<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>',
            baseUrl: '<?php echo Mage::getUrl('resursbank_checkout', array('_secure' => true)); ?>',
            country: '<?php echo $this->getCountry(); ?>',
            naturalLabel: '<?php echo $this->getNaturalLabel(); ?>',
            legalLabel: '<?php echo $this->getLegalLabel(); ?>',
            usingFireCheckout: Boolean(<?php echo $this->usesFireCheckout(); ?>),
            fireCheckoutLayout: '<?php echo $this->getFireCheckoutLayout(); ?>'
        });
    }());
</script>
