<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * @var $this Resursbank_Checkout_Block_Adminhtml_System_Config_Callback_List
 */
?>

<?php $callbacks = $this->getCallbacks(); ?>

<?php if (count($callbacks)): ?>
        <script>
            var resursPollTestUrl = '<?php echo $this->getUrl('resursbank_checkout/callback/poll/fetch/now'); ?>';
            var resursTriggerBackground = '<?php echo Mage::helper('resursbank_checkout')->getBackendUrl('adminhtml/checkout_callback/triggertest'); ?>';
        </script>

    <div>
        <h3 class="callbacks-list-header">
            <?php echo $this->__('Registered Callbacks') ?>
        </h3>
        <?php foreach ($callbacks as $callback): ?>
            <p><b>[<?php echo $callback->eventType ?>]</b></p>
            <p style="margin-bottom:10px; padding-bottom:10px; border-bottom:1px dashed #c0c0c0;">
                <?php echo $callback->uriTemplate ?>
                <?php if ($callback->eventType === 'TEST'): ?><div id="testCallbackTriggerStatus">&nbsp;</div><?php endif; ?>
            </p>
        <?php endforeach; ?>

        <button id="resurs_callback_trigger_button" type="button" onclick="resursTestTrigger()"><?php echo __('Test if callbacks are reachable'); ?></button>
    </div>
<?php else: ?>
    <p><?php echo $this->getErrorMessage() ?></p>
<?php endif; ?>
