<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
?>

<?php
/**
 * @var $this \Resursbank_Checkout_Block_Catalog_Product_View_PartPayment
 */

/** @var string $price */
$productPrice = $this->getProductPrice();
$partPaymentPrice = $this->getSuggestedPartPaymentPrice();
$baseUrl = Mage::getUrl('resursbank_checkout', array('_secure' => true));
$formKey = Mage::getSingleton('core/session')->getFormKey();
$paymentMethodCode = $this->getConfiguredPaymentMethodCode();
$duration = $this->getDuration();
?>

<?php if (!empty($partPaymentPrice)): ?>
    <div class="resursbank-hostedflow-part-payment-information">
        <div class="resursbank-checkout-inline-block resursbank-checkout-vertical-top">
            <img src="<?php echo $this->getSkinUrl('resursbank/checkout/images/resursbank-logo.png'); ?>"
                 class="resursbank-logo" />
        </div>
        <div class="resursbank-checkout-inline-block ">
            <div>
                <span class="resursbank-part-payment-price">
                    <?php echo $partPaymentPrice ?>
                </span>
            </div>
            <div>
                <?php echo $this->__('%s Months', $this->getDuration()); ?>
            </div>
            <div id="resursbank-remodal-btn-open">
                <a href="#modal" class="payment-information-link resursbank-popup">
                    <?php echo $this->__('Read more') ?>
                </a>
            </div>
        </div>
        <div class="remodal-bg">
            <div class="remodal resursbank-modal" data-remodal-id="modal">
                <button data-remodal-action="close" class="remodal-close"></button>
                <h1>Resurs Bank - Part payment</h1>
                <div id="resursbank-remodal-loader"
                     class="resursbank-loader">
                </div>
                <div id="resursbank-remodal-content"
                     class="resursbank-hide">
                </div>
            </div>
        </div>
    </div>


    <script>
        (function (
            $,
            productPrice,
            duration,
            baseUrl,
            formKey,
            paymentMethodCode,
            productType,
            priceFormat
        ) {
            RESURSBANK.productType = productType;

            window.addEventListener('load', function () {
                var AjaxQ = Classy.create('AjaxQ');
                AjaxQ.createChain('resursbank-checkout');

                var customOptions;
                var productType;
                var product;
                var currentFetchPrice;
                var remodalBtnOpen = $('#resursbank-remodal-btn-open');
                var remodalLoader = $('#resursbank-remodal-loader');
                var remodalContent = $('#resursbank-remodal-content');
                var partPayment = Classy.create('PartPayment');

                var remodalLoaderExists =
                    typeof remodalLoader.get(0) !== 'undefined';

                var remodalContentExists =
                    typeof remodalContent.get(0) !== 'undefined';

                var fetchingCostOfPurchase = false;

                // The native global Magento optionsPrice object doesn't have
                // initialized values if the product is for example a simple
                // without custom options. We need Magento's optionsPrice
                // object to calculate new part payment prices.
                var optionsPriceExist = (
                    typeof optionsPrice.productId !== 'undefined'
                );

                if (typeof remodalBtnOpen.get(0) !== 'undefined') {
                    remodalBtnOpen.on('click', function () {
                        var price = getProductPrice();

                        if (canFetchCostOfPurchase(price)) {
                            var promise = partPayment.getCostOfPurchase(
                                AjaxQ,
                                baseUrl,
                                formKey,
                                paymentMethodCode,
                                duration,
                                false,
                                price
                            );

                            fetchingCostOfPurchase = true;

                            remodalContent.hide();
                            remodalLoader.show();

                            promise
                                .done(function(html) {
                                    remodalLoader.fadeOut(1000, function() {
                                        remodalLoader.hide();
                                        updateRemodalContent(html);
                                        remodalContent.fadeIn(1000);

                                        currentFetchPrice = price;
                                    });
                                })
                                .fail(function(errors) {
                                    remodalLoader.fadeOut(1000, function() {
                                        remodalLoader.hide();

                                        updateRemodalContent(
                                            '<?php echo __(
                                                'An error occurred when ' .
                                                'fetching the part payment ' .
                                                'information. Please try again.'
                                            )?>'
                                        );

                                        remodalContent.fadeIn(1000);
                                    });
                                })
                                .always(function() {
                                    fetchingCostOfPurchase = false;
                                });
                        }
                    });
                }

                /**
                 * Says whether you can fetch new cost of purchase HTML.
                 *
                 * @param {number} price - You cannot fetch if the price is
                 * equal to the price of the previous fetch.
                 * @returns {boolean}
                 */
                function canFetchCostOfPurchase(price) {
                    return remodalLoaderExists &&
                        remodalContentExists &&
                        !fetchingCostOfPurchase &&
                        currentFetchPrice !== price;
                }

                /**
                 * Updates the remodal content with an HTML string.
                 *
                 * @param {string} content
                 * @returns {string}
                 */
                function updateRemodalContent(content) {
                    if (typeof remodalContent.get(0) !== 'undefined') {
                        remodalContent.html(content);
                    }

                    return content;
                }

                /**
                 * Retrieve the calculated product price.
                 *
                 * @param {string} [taxType] - Optional. Can be either "incl"
                 * or "excl" to retrieve either calculated price. If left out,
                 * it will return the price including tax.
                 * @return {number} If the product has initialized the global
                 * Magento object `optionsPrice`, then the prices will be
                 * calculated using that. If not, the static product price will
                 * be returned.
                 */
                function getProductPrice(taxType) {
                    var result;

                    if (optionsPriceExist) {
                        result = taxType === 'excl' ?
                            product.getCalculatedPrices().excl :
                            product.getCalculatedPrices().incl;
                    } else {
                        result = productPrice;
                    }

                    return result;
                }

                /**
                 * Updates the price for the part payment widget.
                 *
                 * @param {string} taxType
                 */
                function updatePartPaymentPrice(taxType) {
                    partPayment.updatePrice(getProductPrice(taxType), duration);
                }

                if (optionsPriceExist) {
                    customOptions = Classy.create('Product.CustomOptions');
                    productType = Classy.create('Product.Type');

                    if (productType.isBundle()) {
                        product = Classy.create('Product.Bundle');
                        product.getOptionElements().on(
                            'change',
                            updatePartPaymentPrice
                        );
                        product.getQuantityElements().on(
                            'keyup',
                            updatePartPaymentPrice
                        );
                    } else if (productType.isConfigurable()) {
                        product = Classy.create('Product.Configurable');
                        product.getOptionElements().on(
                            'click',
                            updatePartPaymentPrice
                        );
                    } else if (
                        productType.isSimple() ||
                        productType.isDownloadable() ||
                        productType.isVirtual()
                    ) {
                        product = Classy.create('Product.Simple');
                    }

                    if (customOptions.hasCustomOptions()) {
                        customOptions.getElements().on(
                            'change',
                            updatePartPaymentPrice
                        );
                    }

                    if (product) {
                        updatePartPaymentPrice();
                    }
                }
            }, false);
        }(
            jQuery,
            parseFloat('<?php echo $productPrice ?>'),
            parseInt('<?php echo $duration ?>'),
            '<?php echo $baseUrl ?>',
            '<?php echo $formKey ?>',
            '<?php echo $paymentMethodCode ?>',
            '<?php echo $this->getProductType(); ?>'
        ));
    </script>
<?php endif; ?>
