<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * Template combining all necessary elements into a single checkout page.
 *
 * @var $this Resursbank_Checkout_Block_Checkout
 */
?>

<div class="resursbank-checkout-float-left resursbank-checkout-block" id="shipping-methods-block">
    <?php // Shipping methods. ?>
    <?php echo $this->getChildHtml('shipping_method'); ?>
</div>

<div class="resursbank-checkout-float-left resursbank-checkout-block" id="newsletter-subscription-block">
    <?php // Newsletter widget. ?>
    <?php echo $this->getChildHtml('newsletter_subscription'); ?>
</div>

<div class="resursbank-checkout-float-right resursbank-checkout-block" id="discount-code-block">
    <?php // Discount code widget. ?>
    <?php echo $this->getChildHtml('coupon_custom'); ?>

    <?php // Applied coupon code. ?>
    <div id="current-coupon-code">
        <?php echo $this->getChildHtml('coupon_code'); ?>
    </div>
</div>

<div class="resursbank-checkout-clear"></div>

<div id="resursbank-checkout-container">
    <?php // Payment session iframe. ?>
    <?php echo $this->getChildHtml('resursbank_checkout_iframe'); ?>
</div>
